@import "../../styles/variables.scss";

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img {
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  width: 32%;
  height: 250px;
  margin-bottom: 20px;
  border: 1px solid $light-grey;
  @media (max-width: 1040px) {
    width: 45%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.btns {
  position: absolute;
  top: 0;
}
