$white: #fff;
$light-grey: #d3d3d3;
$link-color: #838383;
$light-background: #fcfcfc;
$dark-grey: #1c1e1f;
$grey: #1c1c1c;
$green: #01a36c;

// fonts

$openSans: "open sans";
$sansPro: "SourceSansPro-Regular";
$sansSerif: "Titillium Web", sans-serif;
