@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 40px 70px;
}

.head {
  width: 100%;
}

.container {
  max-width: 1240px;
  width: calc(100% - 140px);
  border-radius: 40px;
  background-color: $theme;
  margin: 40px 70px;
}

.child {
  width: 100%;
  padding: 40px 70px;
}
