@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.root {
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1240px;
  width: calc(100% - 140px);
  padding: 40px 70px;
  border-radius: 40px;
  background-color: $theme;
  margin: 40px 70px;
}

.child {
  width: 100%;
}
