@import "../../styles/variables.scss";

:global {
  @import "../../styles/global.scss";
}

.root {
  height: 94vh;
  padding-top: 1%;
}

.container {
  height: 100%;
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.innerContainer {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.head {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.nav {
  height: calc(100% - 80px);
  margin: 40px 0;
  background: $green;
  width: 10%;
}

.imgContainer {
  height: 100%;
  width: 90%;
}

.img {
  height: 100%;
  width: 100%;
  background: $grey;
}

.details {
  width: 50%;
  height: 100%;
  position: relative;
}

.detail {
  width: 100%;
  height: calc(100% - 80px);
  margin: 40px 0;
  overflow: hidden;
  position: relative;
  background: $dark-grey;

  flex: 1;
  overflow: auto;
}

.child {
  padding: 50px 20px;
}
