@import "../../styles/variables.scss";

.title {
  font-weight: 900;
  color: $white;
  line-height: normal;
  text-transform: lowercase;
  padding-right: 30px;
  font-size: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  @media only screen and (max-width: 768px) {
    font-size: 40px;
  }
}

.details {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.education {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.year {
  width: 10%;
  color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.degree {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
}

.progressWrapper {
  height: 5px;
  width: 100%;
  overflow: visible;
  font-size: 0.75rem;
  background-color: #3b3e5a;
  border-radius: 0;
}

.progress {
  height: 5px;
  visibility: visible;
  background-color: $green;
}
